<%- include ("partials/header") %>

<section class="py-5 text-center container">     
  <div class="row py-lg-5">       
    <div class="col-lg-6 col-md-8 mx-auto">         
      <h1 class="fw-light">KTH Login</h1>         
      <p class="lead text-muted">
      To begin the examination, login with your KTH-ID using the button below. Then follow instructions given by teacher or invigilator to find and start your assignment in the canvas examination room.</p>
      <p class="lead text-muted">
      If you have any issues logging in, please try again or raise your hand to ask invigilator or local teacher support for help.</p>         
      <p>          
        <a href="https://canvas.kth.se" class="btn btn-primary btn-lg btn-success" role="button">KTH Login</a> 
        <p class="text-muted fs-6 fw-lighter"><small>&nbsp;</small></p>
      </p>       
    </div>     
  </div>   
</section>

<%- include ("partials/footer") %>