<%- include ("partials/header") %>

  <div class="container pt-3">
    <a href="<%=redirectURL%>" class="btn btn-primary btn-lg btn-success" role="button">KTH Login</a> 
    <p class="text-muted fs-6 fw-lighter"><small><%=redirectURL%></small></p>
  </div>

<%- include ("partials/footer") %>


