<%- include ("partials/header") %>

<div class="container pt-3">
  <div class="container pt-3">
    <a href="<%=urlStem%>" class="btn btn-success" role="button">Link Button</a> 
  </div>
</div>

<%- include ("partials/footer") %>


